.hero{
  width: 100%;
  height: 100vh;
  background-image: url(assets/Mataura.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  //padding: 15vh 0;
}
.collection-item {
  &.hide {
    display: none;
  }
  &.completed{
    text-decoration: line-through;
  }
  i{
    color: #F44336;
    color: #673ab7;
  }
  [type="checkbox"].filled-in:checked+span:not(.lever):after{
    background-color: #673ab7;
    border-color: #673ab7;
  }
}
#task-form{
  .btn{
    background-color: #673ab7;
  }
}

input[type="checkbox"]+span:not(.lever) {
  height: 15px;
}
.card{
  //background-color: #657AFF;
}
#task:focus+label,
#filter:focus+label{
  color: #673ab7;
}
#task:focus,
#filter:focus{
  border-color: #673ab7;
  box-shadow: 0 1px 0 0 #673ab7;
}
.container{
  padding: 3rem 0;
  height: 100%;
  overflow-y: hidden;
}
.container > .row{
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
}
